.about {
  overflow: hidden;
  position: relative;
  min-height: 120vh;
  .container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .row {
      width: 100%;
      height: 120vh;
      .col {
        p {
          font-size: 26px;
        }
      }
      .col:nth-of-type(2) {
        height: 105%;
        position: relative;
        overflow: hidden;
        .overlay_image {
          width: 100%;
          height: 100%;
          position: absolute;
          top: -10px;
          left: 0;
          background-image: url("/assets/about.jpg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          display: block;
        }
      }
    }
  }
}
