.hero {
  min-height: 100vh;
  @media (max-width: 500px) {
    min-height: 90vh;
  }
  position: relative;

  .personal_image {
    position: absolute;
    top: -10%;
    width: 100%;
    height: 110%;
    .image {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }
  .description {
    position: absolute;
    top: 30%;
    right: 10%;
    transform: translateY(-50%);
    color: #fff;
    padding: 0 40px;
    @media (max-width: 700px) {
      top: 55%;
      left: 0;
    }
    svg {
      margin-bottom: 30px;
      scale: 2;
    }
    p {
      font-size: 30px;
      font-weight: 400;
    }
    .btn {
      width: 150px;
      border-radius: 3em;
      border: 1px solid rgb(136, 136, 136);
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 30px 15px 30px;
      margin-top: 20px;
      background: #070f2b;
      span {
        margin: 0px;
        font-size: 16px;
        font-weight: 300;
        z-index: 2;
        position: relative;
      }
    }
  }
}
