@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --container-padding: clamp(2.5em, 8vw, 8em);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  overflow-x: hidden;
  background-color: #070f2b;
  color: #fff;
  user-select: none;
  /* cursor: wait; */
}

::-webkit-scrollbar {
  display: none;
}

.bgEffect {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
